{% extends 'app/base.html' %}

{% block content %}

<h2>2024年 コンストラクターランキング</h2>
<form method="GET">
    <select name="year" id="year">
        {% for year in years %}
            {% if year == default_year %}
                <option value="{{ year }}" selected>{{ year }}年</option>
            {% else %}
                <option value="{{ year }}">{{ year }}年</option>
            {% endif %}
        {% endfor %}
    </select>
    <button type="submit">選択</button>
</form>
<table>
    <thead>
        <tr>
            <th>Pos</th>
            <th>Team</th>
            <th>Pts</th>
        </tr>
    </thead>
    <tbody>
        {% for ranking in rankings %}
            <tr>
                <td>{{ ranking.position }}</td>
                <td>{{ ranking.constructor }}</td>
                <td>{{ ranking.points }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">データがありません。</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock%}